.page {
  &__useful {
  }
}

.useful {
  &__container {
  }
  &__title {
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, minmax(240px, 1fr));
    gap: 30px;
		
		@media screen and (max-width: 1135px) {
			grid-template-columns: repeat(1, minmax(240px, 1fr));
			
		}
  }
  &__item {
		border-radius: 12px;
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
		
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 30px 0 rgba(0, 0, 0, 0.08),
		0 0 15px 0 rgba(0, 0, 0, 0.03);

		@media screen and (max-width: 580px) {
			flex-direction: column;
		}

		&:hover {
			.useful__item-img img {
				transform: scale(1.1);
			}
		}
  }

  &__item-img {
    position: relative;
    width: 100%;
		overflow: hidden;
		border-radius: 12px;

		@media screen and (min-width: 581px) {
			max-width: 405px;
		}
		@media screen and (max-width: 580px) {
			padding-bottom: 54%;
		}
    & > * > * {
			border-radius: 12px;
			transition: all 0.3s ease;
    }
  }

  &__item-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__item-title {
    padding: 16px 16px 0px 6px;

    font-weight: 500;
    font-size: 24px;
    color: var(--text-dark);

		margin-bottom: 16px;
  }
  &__item-desc {
    padding: 0px 16px 0 6px;
    margin-bottom: 26px;

    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--not-active);
    transition: all 0.3s ease;

    display: -webkit-box;
    /* display 2 lines only */
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &:hover {
      color: var(--accent);
    }
  }
  &__item-info {
    border-radius: 12px;
    padding: 13px 16px;
    background: #f5f5f5;
    display: flex;
    gap: 10px;
  }
  &__item-info-ico {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: var(--accent);
    border-radius: 12px;
  }
  &__item-info-box {
  }
  &__item-info-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: 0.01em;
    color: var(--text-dark);
  }
  &__item-info-date {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--secondary-text);
		display: -webkit-box;
    /* display 2 lines only */
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
