:root {
  --container-width: 1800px;
  --container-padding: 40px;

  --font-main: "Rubik", sans-serif;

	// Colors

	// Main
  --background: #fff;
  --foreground: #081028;
  --divider: #EEEFF3;
  --accent: #006FEE;

	// Base
	--text-dark: #2D3748;
	--text-light: #FFFFFF;
	--not-active: #A0ABBF;

	// Secondary
  --secondary-elms: #0B1739;
  --secondary-text: #A0ABBF;

	// Adaptive
  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}

// Theme
.dark {
  --page-bg: #252526;
  --text-color: #fff;
}
